@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.ttf');
    font-weight: normal;
}

/*
 * Template positions and sizes
 */
.template {
    position: fixed;
    display: block;
    overflow: hidden;

    font-family: Poppins-Bold, sans-serif;
    font-weight: bold;
}

.lower-third {
    top: 75%;
    left: 5%;
    width: 90%;
}

.full-list {
    top: 15%;
    left: 15%;
    width: 70%;
    height: auto;
}

/*
 * Textboxes
 */
div.textbox {
    opacity: 1;
    overflow: hidden;
}

div.textbox p {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
}

div.textbox span {
    white-space: nowrap;
}

div.textbox-title p {
    background-color: #eda129;
    font-size: 50px;
    color: white;
}

div.textbox-subtitle p {
    background-color: white;
    font-size: 30px;
    color: #eda129;
}

/*
 * Table
 */
.template table {
    width: 100%;
}

.template thead td,
.template tfoot td {
    padding: 6px 12px;
    font-size: 30px;
    color: white;
    background-color: #eda129;
}

.template tbody td {
    padding: 6px 12px;
    font-size: 30px;
    color: #eda129;
    background-color: white;
}
