{% extends "template.njk" %}

{% block body %}
    <div class="template lower-third">
        <div class="textbox textbox-title">
            <p><span>Example lower-third template</span></p>
        </div>
        <div class="textbox textbox-subtitle">
            <p><span>with subtitle</span></p>
        </div>
    </div>

    <script type="text/javascript">
        (function ($) {
            'use strict';

            HtmlCg.run(new Template(), {
                api: [ 'bounce', 'pulse', 'shake', 'tada' ],
                data: '{\n  "f0": "Example lower-third template (f0)",\n  "f1": "With subtitle (f1)"\n}'
            });

            function Template () {
                this.$template = $('.template');
                this.$title = $('.textbox-title');
                this.$subtitle = $('.textbox-subtitle');

                this.data = {};

                this.load = function () {
                    this.$title.css('width', 0).css('opacity', 0);
                    this.$subtitle.css('height', 0).css('opacity', 0);
                };

                this.play = function () {
                    var self = this;
                    $.Velocity(self.$title, {
                        opacity: 1,
                        width: self.$title.find('p').innerWidth()
                    }).then(function () {
                        self.$subtitle.velocity({
                            opacity: 1,
                            height: self.$subtitle.find('p').innerHeight()
                        });
                    });
                };

                this.stop = function () {
                    var self = this;
                    $.Velocity(self.$subtitle, {
                        opacity: 0,
                        height: 0
                    }).then(function () {
                        self.$title.velocity({
                            opacity: 0,
                            width: 0
                        });
                    });
                };

                this.onUpdate = function (data) {
                    this.data = $.extend({}, this.data, data);
                    this.$title.find('span').text(this.data.f0);
                    this.$subtitle.find('span').text(this.data.f1);
                };

                this.bounce = function () {
                    this.$template.velocity('callout.bounce');
                };

                this.pulse = function () {
                    this.$template.velocity('callout.pulse');
                };

                this.shake = function () {
                    this.$template.velocity('callout.shake');
                };

                this.tada = function () {
                    this.$template.velocity('callout.tada');
                };
            }
        })(jQuery);
    </script>
{% endblock %}
