<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- build:css css/style.css -->
    <link rel="stylesheet" type="text/css" href="../node_modules/htmlcg-framework/dist/htmlcg-framework.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- endbuild -->

    <!-- build:js js/vendor.js -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/velocity-animate/velocity.min.js"></script>
    <script type="text/javascript" src="../node_modules/htmlcg-framework/dist/htmlcg-framework.min.js"></script>
    <!-- endbuild -->

    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
